
[submodule "_gallery"]
	path = _gallery
	url = https://TZOYRMANAS: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@github.com/TZOYRMANAS/_gallery
[submodule "_quotes"]
	path = _quotes
	url = https://TZOYRMANAS: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@github.com/TZOYRMANAS/_quotes
[submodule "images"]
	path = images
	url = https://TZOYRMANAS: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@github.com/TZOYRMANAS/images
[submodule "_bibliography"]
	path = _bibliography
	url = https://TZOYRMANAS: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@github.com/TZOYRMANAS/bibliography
[submodule "_notes"]
	path = _notes
	url = https://TZOYRMANAS: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@github.com/TZOYRMANAS/notes
